<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wass.hr.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <result column="user_id" property="userId"/>
        <result column="user_login_name" property="userLoginName"/>
        <result column="user_name" property="userName"/>
        <result column="user_passwd" property="userPasswd"/>
        <result column="user_phone" property="userPhone"/>

    </resultMap>

    <!--用户登录 -->
    <select id="userLogin" resultMap="userMap" >
        select
            user_id,
            user_login_name,
            user_name,
            user_phone,
            user_passwd
        from user_info where user_login_name=#{uname}
    </select>

    <!--根据条件查询用户信息-->
    <select id="getUserList" resultType="com.wass.hr.entity.User">
        select
            user_id,
            user_name,
            user_phone,
            user_passwd
        from user_info where 1 = 1
        <if test="user_name != null">
            and user_name = #user_name
        </if>
    </select>

    <!--新增用户信息-->
    <insert id="insert" parameterType="com.wass.hr.entity.User">
        insert into user_info (
            user_id,
            user_login_name,
            user_name,
            user_passwd,
            user_phone
        ) values {
            #userId,
            #userLoginName
            #userName,
            #userPasswd,
            #userPhone
        }
    </insert>

    <!--修改用户信息-->
    <update id="update" parameterType="com.wass.hr.entity.User">
        update user_info set
            user_name = #user_name,
            user_passwd = #user_passwd,
            user_phone = #user_phone
        where user_id = #user_id
    </update>
    
    <!--删除用户信息-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from user_info where user_id = #userId
    </delete>

</mapper>